body {
    min-height: 400px !important;
    margin-right: 50px;
}

ul {
    margin: 0;
    padding-left: 30px;
}

#main > div:not(.separator) {
    margin: 20px;
}

#presentation > * {
    margin: 10px 0;
}

#presentation > img {
    width: 200px;
}

#presentation > div {
    font-size: 14px;
}

#presentation > div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

#presentation > div > a > img {
    width: 25px;
    opacity: 0.7;
}

#contributors > ul > li{
    font-size: 15px;
}

#resources > div:nth-of-type(1), #changelog > div:nth-of-type(1) {
    color: silver;
    font-size: 14px;
}

.third-party-app {
    display: flex;
    column-gap: 15px;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
}

.third-party-app:hover {
    background-color: var(--background-hover);
}

.third-party-app > img {
    width: 45px;
}

.third-party-app > div {
    margin-top: -3px;
}

.third-party-app > div > div:nth-child(1) {
    font-size: 22px;
    font-weight: bold;
}

#html2canvas-logo {
    background-color: #6fa53b;
    padding: 5px 3px 5px 8px;
    width: 38px;
}

.readme-navbar {
    display: flex;
    font-size: 12px;
    overflow: auto;
    margin-bottom: 4px;
    column-gap: 2px;
    padding-bottom: 2px;
}

.readme-navbar > div {
	padding: 5px;
    border: 2px solid var(--font-color);
    color: var(--font-color);
	font-weight: bold;
}

.readme-navbar-selected, .readme-navbar > div:hover {
    background-color: var(--font-color);
	color: var(--background-color) !important;
}

.readme {
    max-height: 300px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.readme h2 {
    margin-bottom: 20px;
    background-color: var(--font-color);
    padding: 8px;
    color: var(--background-color);
}

.readme p {
    font-size: 14px;
}

.readme h3 {
    font-size: 16px;
}

.md-extra-highlighted {
    font-weight: bold;
    font-style: italic;
}