body {
    margin-right: 50px;
    min-height: 420 !important;
}

table {
    background-color: var(--background-color);
}

#main > div:nth-of-type(1) {
    display: flex;
}

.selectors {
    display: flex;
    border-top: 1px solid silver;
}

.selectors > div {
    font-size: 15px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.selectors > div:not(:last-child) {
    border-right: 1px solid silver;
}

.selector-active {
    background-color: var(--active);
    color: white;
    cursor: not-allowed;
}

.selectors > div:not(.selector-active):hover, .day-selector > div:not(.selector-active):hover, table > tbody > tr > th:not(:first-child, :last-child):hover {
    background-color: var(--background-hover);
}

.shadowed-class {
    background-color: #9c9c9c !important;
}

table > tbody > tr:nth-child(13) {
    border-bottom: 2px solid var(--table-borders);
}

table > tbody > tr > th:not(:first-child, :last-child) {
    cursor: pointer;
}

.floating-info-panel {
    position: absolute;
    top: 0;
    z-index: 2;
    background-color: var(--background-color);
    height: 100%;
    padding: 0 10px;
    box-shadow: -2px 0px 4px -2px black;
    overflow: auto;
    scroll-behavior: smooth;
}

.floating-info-panel .info-panel {
    width: unset !important;
}

.info-panel {
    width: 1020px;
    padding: 20px 10px;
    overflow: auto;
}

.info-panel > *:not(:last-child) {
    margin-bottom: 20px;
}

.info-panel > h2 {
    text-align: center;
}

.info-panel > div:last-child ,.info-panel > div:last-child > div {
    display: flex;
    flex-direction: column;
}

.info-panel > div:last-child {
    row-gap: 25px;
}

.info-panel > div:last-child > div {
    row-gap: 10px;
}

.info-panel > div:nth-of-type(1) {
    width: fit-content;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin: 10px auto;
}

.info-panel .day-chooser {
    display: flex;
    margin: 5px 0;
}

.info-panel .day-chooser > div {
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: var(--font-color);
    color: var(--background-color);
}

.info-panel .day-chooser > div:not(:last-child) {
    border-right: 2px solid var(--background-color);
}

.subject-info > div:nth-child(1) {
    color: white;
    padding: 9px;
    font-weight: bold;
}

.subject-info > div:nth-child(2) {
    display: flex;
    align-items: center;
    border: 1px solid silver;
}

.subject-info > div:nth-child(2) > div:nth-child(1) {
    font-size: 15px;
    background-color: var(--font-color);
    width: 55px;
    height: 35px;
    display: flex;
    align-items: center;
}

.subject-info > div:nth-child(2) > div:nth-child(1) > div {
    color: var(--background-color);
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.subject-info > div:nth-child(2) > div:nth-child(2) {
    padding: 5px 9px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: 100%;
    white-space: nowrap;
}

.subject-info > div:nth-child(2) > div:nth-child(2) > div {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.subject-info > div:nth-child(2) > div:nth-child(2) > div > img {
    width: 15px;
    opacity: 0.6;
}

.live-class {
    width: 12px;
    background-color: red;
    height: 12px;
    border-radius: 50%;
    top: -3px;
    right: -3px;
    position: absolute;
}

.class-popup {
    position: absolute;
    background-color: var(--background-color);
    z-index: 12;
    box-shadow: 0px 2px 3px -1px #919191;
}

.class-info-popup {
    text-align: left;
    width: fit-content;
    min-width: 140px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    padding: 10px;
}

.class-info-popup * {
    color: var(--font-color) !important;
}

.class-info-popup > div:nth-child(1) {
    font-weight: bold;
}

.class-info-popup > div:not(:nth-child(1)) {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.class-info-popup > div:not(:nth-child(1)) img {
    width: 12px;
    height: 12px;
}

.class-info-popup:before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: var(--background-color);
    position: absolute;
    top: -5px;
    left: 5px;
    transform: rotate(45deg);
    z-index: -1;
}

.class-context-menu {
    display: flex;
    flex-direction: column;
    left: 20px;
    text-align: left;
}

.class-context-menu > div {
    white-space: nowrap;
    padding: 10px;
    font-weight: normal !important;
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: var(--font-color) !important;
}

.class-context-menu > div:hover {
    background-color: var(--background-hover);
}

.class-context-menu > div > img {
    width: 15px;
}

.day-selector {
    position: fixed !important;
    right: 50px;
    background-color: var(--background-color);
    width: fit-content !important;
    padding: unset !important;
    top: 20px;
    border: 1px solid silver;
    z-index: 1;
}

.day-selector > div {
    padding: 10px;
}

.day-selector:hover {
    background-color: var(--background-color) !important;
}

.day-selector > div:not(:last-child) {
    border-bottom: 1px solid silver;
}

.cell-now {
    background-color: #fff4bc !important;
    white-space: nowrap;
    padding: 4px;
    font-size: 10px;
    z-index: 2;
}

.cell-now, .cell-now * {
    color: black !important;
}

.add-class-menu {
    width: 300px;
    height: fit-content;
    background-color: var(--background-color);
    padding: 60px 40px 20px 40px;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
}

.add-class-menu .icon {
    width: 20px;
}

.add-class-menu label {
    font-size: 20px;
}

.add-class-menu select {
    font-size: 16px;
    width: 100%;
}

.add-class-menu input[type="text"] {
    border: none;
    border-bottom: 1px solid var(--font-color);
    background-color: unset;
    text-align: right;
    width: 100%;
    font-size: 16px;
}

.add-class-menu .item-check {
    column-gap: 10px;
}

.add-class-menu .button {
    font-size: 14px;
    border: 2px solid;
}