body {
    width: 350px !important;
    min-height: unset !important;
}

#main {
    padding: 20px;
    position: relative;
}

#main > div {
    margin: 20px 0;
}

#main > div > div {
    margin: 10px 0; 
}

#logo {
    margin: 15px auto;
    width: fit-content;
}

#logo > img {
    width: 150px;
}

#login-wrapper > div {
    display: flex;
    align-items: center;
}

#login-wrapper > div > input {
    border: none;
    border-bottom: 1px solid silver;
    padding: 10px 5px;
    width: 95%;
    padding-right: 40px;
    background-color: var(--background-color);
}

#login-wrapper > div > input:focus {
    outline: none !important;
    border: none;
    border-bottom: 1px solid var(--font-color);
    background-color: var(--background-hover);
    color: var(--font-color);
}

#login-wrapper > div > img {
    width: 21px;
    position: absolute;
    opacity: 0.6;
    right: 30px;
}

#small-info {
    font-size: 9px;
    color: #8f8f8f;
    margin-bottom: 15px !important;
    text-align: center;
}

.button {
    padding: 7px 15px;
    border: 1px solid silver;
    border-radius: 20px;
    margin: 10px auto;
    text-align: center;
}

.button:hover {
    background-color: var(--background-hover);
}

#remember-email {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

#remember-email > label {
    font-size: 10px;
    cursor: pointer;
}

input[type="checkbox"] {
    accent-color: var(--checkbox-ball);
}

#drop-zone {
    margin: auto !important;
    margin-top: 30px !important;
    width: 90%;
    height: 110px;
    border-radius: 30px;
    position: relative;
    background: rgb(75,204,144);
    background: -moz-linear-gradient(90deg, rgba(75,204,144,1) 0%, rgba(62,148,239,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(75,204,144,1) 0%, rgba(62,148,239,1) 100%);
    background: linear-gradient(90deg, rgba(75,204,144,1) 0%, rgba(62,148,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4bcc90",endColorstr="#3e94ef",GradientType=1);
    box-shadow: inset 0px 0px 5px grey;
    cursor: pointer;
}

#drop-zone:hover {
    background: #3e94ef;
}

#drop-zone > div {
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    column-gap: 10px;
    pointer-events: none;
}

#drop-zone img {
    filter: invert(1);
    width: 21px;
}

#drop-zone input {
    display: none;
}

a {
    cursor: pointer;
    color: rgb(62,148,239);
}

.go-back {
    left: 5px;
    position: absolute;
    transform: rotate(-90deg);
    width: 20px;
    padding: 10px;
    opacity: 0.6;
    top: 8px;
}

#darkmode {
    position: absolute;
    top: 0;
    right: 20px;
}

#darkmode img {
    width: 20px;
    opacity: 0.5;
}