body {
    width: 350px !important;
    min-height: unset !important;
}

#main {
    padding: 20px;
}

#main > div {
    margin: 10px 0; 
}

#logo {
    margin: 15px auto;
    width: fit-content;
}

#logo > img {
    width: 150px;
}

#login-wrapper > div {
    display: flex;
    align-items: center;
}

#login-wrapper > div > input {
    border: none;
    border-bottom: 1px solid silver;
    padding: 10px 5px;
    width: 95%;
    padding-right: 40px;
}

#login-wrapper > div > input:focus {
    outline: none !important;
    border: none;
    border-bottom: 1px solid rgb(50, 180, 50);
    background-color: rgb(234, 255, 234);
}

#login-wrapper > div > img {
    width: 21px;
    position: absolute;
    opacity: 0.6;
    right: 30px;
}

#small-info {
    font-size: 9px;
    color: #8f8f8f;
    margin-bottom: 15px !important;
    text-align: center;
}

.button {
    padding: 7px 15px;
    border: 1px solid silver;
    border-radius: 20px;
    margin: 10px auto;
    text-align: center;
}

.button:hover {
    background-color: rgb(172, 255, 172); 
}

.loading > div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: 0.5;
    left: 0;
    top: 0;
}

.loading > div:nth-child(2) {
    position: fixed;
    background-color: white;
    width: 70%;
    height: 25%;
    left: 0;
    top: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    box-shadow: 0px 6px 6px -2px #686868;
}

.loading > div:nth-child(2) > div {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
}

#remember-email {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

#remember-email > div {
    font-size: 10px;
}