table {
    table-layout: fixed;
}

table, th, td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
    text-align: center;
}

table > tbody > tr:nth-of-type(1) {
    height: 35px;
}

table > tbody > tr > th:nth-child(1), table > tbody > tr > th:last-child {
    width: 15px;
}

table > tbody > tr > td:nth-child(1), table > tbody > tr > td:last-child {
    padding: 5px;
}

table > tbody > tr > td {
    position: relative;
}

table > tbody > tr > td > div:nth-child(1) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

table > tbody > tr > td > div > div:nth-child(1) {
    font-weight: bold;
}

.class {
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: inherit !important;
}

.class div {
    color: white;
}

.cell-now {
    background-color: #fff4bc !important;
    white-space: nowrap;
    padding: 4px;
    font-size: 10px;
    z-index: 2;
}

.cell-now * {
    color: black !important;
}