body {
    min-width: 500px !important;
    margin-right: 50px;
}

table {
    table-layout: fixed;
}

table, th, td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
    text-align: center;
}

table > tbody > tr > th:nth-child(1), table > tbody > tr > th:nth-child(8) {
    width: 15px;
}

table > tbody > tr > td:nth-child(1), table > tbody > tr > td:nth-child(8) {
    padding: 5px;
}

table > tbody > tr:nth-child(13) {
    border-bottom: 2px solid #cccccc;
}

table > tbody > tr > td {
    position: relative;
}

table > tbody > tr > td > div:nth-child(1) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

table > tbody > tr > td > div > div:nth-child(1) {
    font-weight: bold;
}

#title {
    letter-spacing: 1px;
    font-size: 14px;
    margin: 0;
    text-align: center;
    color: silver;
}

.class div {
    color: white;
}

.selectors {
    display: flex;
}

.selectors > div {
    font-size: 15px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.selectors > div:not(:last-child) {
    border-right: 1px solid silver;
}