body {
    margin-right: 50px;
}

.settings-section {
    margin: 20px;
}

.settings-section > div {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#settings-subjects-colors {
    position: relative;
}

#settings-subjects-colors > div:nth-of-type(1) {
    font-size: 14px;
}

#settings-subjects-colors > div:nth-of-type(2) {
    position: absolute;
    right: 0px;
    top: -6px;
    opacity: 0.6;
    padding: 5px;
}

#settings-subjects-colors > div:nth-of-type(2) > img {
    width: 18px;
}

#settings-subjects-colors > div:nth-of-type(3) {
    margin-top: 10px;
}

#subjects-colors {
    display: flex;
}

#subjects-colors > div {
    width: 100%;
}

.subject-color-picker {
    position: relative;
}

.subject-color-picker > input {
    border: unset;
    height: 50px;
    width: 100%;
    background-color: transparent;
    box-sizing: unset;
    padding: 0;
    position: relative;
    cursor: pointer;
}

.subject-color-picker > div {
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: fit-content;
    z-index: 1;
    color: white;
    font-weight: bold;
    pointer-events: none;
}

.item-check {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item-check > label {
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}

.checkbox_wrapper {
	text-align: right;
	position: relative;
    cursor: pointer;
}

.checkbox_wrapper > div {
	pointer-events: none;
}

.custom-checkbox-back {
	width: 33px;
    height: 16px;
    border-radius: 10px;
    background-color: #cbc9c9;
}

.custom-checkbox-ball {
	width: 18px;
    height: 18px;
    background-color: gray;
    border-radius: 10px;
    position: absolute;
    top: -1px;
	transition: 0.4s;
}

.checkbox-enabled > .custom-checkbox-back {
	background-color: #7a7a7a;
}

.checkbox-enabled > .custom-checkbox-ball {
    margin-left: 16px;
    background-color: #5e5e5e;
}

select {
    background: #5c5c5c;
    color: white;
    width: 100px;
    padding: 2px 6px;
    cursor: pointer;
}

select > option {
    color: white;
}