body {
    margin-right: 50px;
}

.settings-section {
    padding: 20px;
}

.settings-section > div {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#settings-subjects-colors {
    position: relative;
}

#settings-subjects-colors > div:nth-of-type(1) {
    font-size: 14px;
}

#settings-subjects-colors > div:nth-of-type(2) {
    position: absolute;
    right: 0px;
    top: -6px;
    padding: 5px;
}

#settings-subjects-colors > div:nth-of-type(2) > img {
    width: 18px;
    opacity: 0.5;
}

#settings-subjects-colors > div:nth-of-type(3) {
    margin-top: 10px;
}

#subjects-colors {
    display: flex;
}

#subjects-colors > div {
    width: 100%;
}

.subject-color-picker {
    position: relative;
}

.subject-color-picker > input {
    border: unset;
    height: 50px;
    width: 100%;
    background-color: transparent;
    box-sizing: unset;
    padding: 0;
    position: relative;
    cursor: pointer;
}

.subject-color-picker > div {
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: fit-content;
    z-index: 1;
    color: white;
    font-weight: bold;
    pointer-events: none;
}