#navbar {
    position: fixed;
    right: 0;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    height: 100%;
    border-left: 1px solid silver;
    overflow: auto;
    z-index: 2;
    background-color: var(--background-color);
}

#navbar > img {
    width: 25px;
    margin-bottom: 10px;
}

#navbar > div > img {
    width: 23px;
    opacity: 0.5;
    margin-left: -2px;
}

#navbar > div:not(:first-child, .separator) {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

#navbar > div:not(:first-child, :last-child):hover {
    background-color: var(--background-hover);
}

.info-circle {
    position: absolute;
    top: 3px;
    right: 5px;
    background-color: black;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.info-circle > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    font-size: 10px;
    color: white;
}