:root {
    --font-color: #585858;
    --background-color: white;
    --background-hover: #e1e1e1;
    --active: #9c9c9c;
    --checkbox-ball: #5e5e5e;
    --checkbox-background: #7a7a7a;
    --select-font: white;
}

body {
    margin: unset;
    width: 500px !important;
    min-height: 400px !important;
    background-color: var(--background-color);
}

body * {
    color: var(--font-color);
}

h2 {
    margin: 0;
    margin-bottom: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--background-hover);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--font-color);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--active);
}

.separator {
    background-color: var(--table-borders);
    width: 100%;
    height: 1px;
}

.clickable, .clickable-light, .clickable *, .clickable-light * {
    cursor: pointer !important;
}

.clickable:hover {
    opacity: 0.7 !important;
}

.clickable-light:hover {
    opacity: 0.4 !important;
}

.clickable:focus-within {
    opacity: 1 !important;
}

.button-inactive {
    opacity: 0.5;
    cursor: not-allowed !important;
    background-color: unset !important;
}


.loading > div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: 0.5;
    left: 0;
    top: 0;
}

.loading > div:nth-child(2) {
    position: fixed;
    background-color: var(--background-color);
    width: 70%;
    height: 90px;
    left: 0;
    top: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0px 6px -2px black;
}

.loading > div:nth-child(2) > div {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
}

.bottom-info {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: var(--background-color);
    border-top: 1px solid var(--table-borders);
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.bottom-info img {
    width: 10px;
}