:root {
    --black: #585858;
}

body {
    margin: unset;
    min-width: 500px !important;
    min-height: 400px !important;
}

body * {
    color: var(--black);
}

h2 {
    margin: 0;
    margin-bottom: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #b7b7b7;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.separator {
    background-color: silver;
    width: 100%;
    height: 1px;
}

.clickable, .clickable-light, .clickable *, .clickable-light * {
    cursor: pointer !important;
}

.clickable:hover {
    opacity: 0.7 !important;
}

.clickable-light:hover {
    opacity: 0.4 !important;
}

.clickable:focus-within {
    opacity: 1 !important;
}

.button-inactive {
    opacity: 0.5;
    cursor: not-allowed !important;
    background-color: unset !important;
}