:root {
    --font-color: #585858;
    --background-color: white;
    --background-hover: #e1e1e1;
    --active: #9c9c9c;
    --checkbox-ball: #5e5e5e;
    --checkbox-background: #7a7a7a;
    --select-font: white;
}

body {
    margin: unset;
    width: 500px !important;
    min-height: 400px !important;
    background-color: var(--background-color);
}

body * {
    color: var(--font-color);
}

h2 {
    margin: 0;
    margin-bottom: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--background-hover);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--font-color);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--active);
}

.separator {
    background-color: var(--table-borders);
    width: 100%;
    height: 1px;
}

.clickable, .clickable-light, .clickable *, .clickable-light * {
    cursor: pointer !important;
}

.clickable:hover {
    opacity: 0.7 !important;
}

.clickable-light:hover {
    opacity: 0.4 !important;
}

.clickable:focus-within {
    opacity: 1 !important;
}

.button-inactive {
    opacity: 0.5;
    cursor: not-allowed !important;
    background-color: unset !important;
}

.popup > div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: 0.5;
    left: 0;
    top: 0;
    z-index: 10;
}

.popup > div:nth-child(2) {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
}

.popup .cross {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.cross > div {
    background-color: var(--font-color);
}

.popup > div > div:nth-child(1) {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
}

.loading > div:nth-child(2) {
    background-color: var(--background-color);
    width: 70%;
    height: 90px;
    box-shadow: 0px 0px 6px -2px black;
}

.loading > div:nth-child(2) > div {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
}

.bottom-info {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: var(--background-color);
    border-top: 1px solid var(--table-borders);
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.bottom-info img {
    width: 10px;
}

.bottom-info .cross > div:nth-child(1), .bottom-info .cross > div:nth-child(2) {
    width: 13px;
    height: 3px;
}

.bottom-info .cross {
    position: absolute;
    right: 85px;
}

.cross {
    padding: 10px 0px;
    width: fit-content;
}

.cross > div:nth-child(1), .cross > div:nth-child(2) {
    width: 25px;
    height: 3px;
}

.cross > div:nth-child(1) {
    rotate: 45deg;
}

.cross > div:nth-child(2) {
    rotate: -45deg;
    margin-top: -3px;
}

.item-check {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item-check > label {
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}

.checkbox_wrapper {
	text-align: right;
	position: relative;
    cursor: pointer;
}

.checkbox_wrapper > div {
	pointer-events: none;
}

.custom-checkbox-back {
	width: 33px;
    height: 16px;
    border-radius: 10px;
    background-color: #cbc9c9;
}

.custom-checkbox-ball {
	width: 18px;
    height: 18px;
    background-color: gray;
    border-radius: 10px;
    position: absolute;
    top: -1px;
	transition: 0.4s;
}

.checkbox-enabled > .custom-checkbox-back {
	background-color: var(--checkbox-background);
}

.checkbox-enabled > .custom-checkbox-ball {
    margin-left: 16px;
    background-color: var(--checkbox-ball);
}

select {
    background: var(--checkbox-ball);
    color: var(--select-font);
    width: fit-content;
    padding: 2px 6px;
    cursor: pointer;
}

select > option {
    color: var(--select-font);
}

.button {
    padding: 7px 15px;
    border: 1px solid silver;
    border-radius: 20px;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: var(--background-hover);
}

.progress {
    width: 50px;
    border: 1px solid silver;
}

.progress > .bar {
    height: 10px;
    background-color: white;
}

.progress > .failed {
    background-color: #f76868;
}